#coverage-panel.details {
    margin-top: 3px;
}

#octane-entity{
    margin-bottom: 10px;
}

.octane-entity-icon{
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: -2px;
}

.octane-entity-icon-text {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #ffffff;
    top: 4px;
}
.octane-entity-url{
    margin-left: 5px;
}

.octane-entity-url2name-splitter {
    color: #cccccc;
    font-size: 20px;
    line-height: 35px;
    margin: 0 5px;
}
.octane-test-status-icon {
    float: left;
    width: 5px;
    height: 18px;
}
.octane-test-status-name {
    margin-left: 8px;
    min-width: 120px;
}
.octane-test-status-count {
    display: inline-block;
    width: 45px;
    text-align: right;
}
.octane-test-status-percentage {
    margin-left: 15px;
    font-size: x-small;
}

.octane-test-status-total-count {
    display: inline-block;
    width: 45px;
    text-align: right;
}

.view-in-octane-text{
    margin-top: 5px;
}
