
#octane-coverage-panel{
    overflow-x: hidden;
}

#coverage-panel.details {
    margin-top: 3px;
}

#octane-entity{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
}

#octane-entity-icon{
    display: inline-block;
    flex: none;
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#octane-entity-icon-text {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #ffffff;
    top: 4px;
}
#octane-entity-url{
    margin-left: 5px;
    margin-right: 5px;
}

.octane-entity-url2name-splitter {
    color: #cccccc;
    font-size: 20px;
    line-height: 31px;
    height: 35px;
    text-align: center;
}

#octane-entity-name{
    margin-left: 5px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.octane-test-status-icon {
    float: left;
    width: 5px;
    height: 18px;
}
.octane-test-status-name {
    margin-left: 12px;
    min-width: 120px;
}
.octane-test-status-count {
    display: inline-block;
    width: 45px;
    text-align: right;
}
.octane-test-status-percentage {
    margin-left: 15px;
    color: #888888;
}

#octane-total-runs{
    color: #777777;
    font-weight: bolder;
    margin-bottom: 10px;
}

#octane-total-tests{
    font-weight: bolder;
}

#view-tests-in-alm{
    margin-top: 10px;
    display: block;
}

#show-start-date-picker.filtered{
    color: red;
}

#run-start-date-picker{
    width: 0;
    border: none;
    padding: 0;
    margin: 0;
}

#custom-datepicker-buttons{
    padding: 4px;
    margin-top: 4px;
    background: #f4f5f7;
    border-top: 1px solid #dfe1e5;
}

#custom-datepicker-close-button{
    float: right;
    display: inline-block;
}

#octaneDataReloadSpinner{
    float: right;
    margin-top: -15px;
    margin-right: 46px;
}

.width--100 {
    width: 100%;
}

.pointer-events--none {
    pointer-events: none;
}

.opacity--50 {
    opacity: 50%;
}

