
.simple-list {
    list-style: none;
    padding: 0;
}

#workspace-table .aui-restfultable-operations{
    width: 10px;
}

#refreshOctaneEntityTypesSpinner{
    display: inline-block;
    height: 10px;
    width: 20px;
    margin: 0 5px 0 -30px;
}

#workspace-dialog div.description{
    margin-top: 2px;
}

#workspace-dialog .select2-choice {
    background-color: #fff;
    border-color: rgb(193, 199, 208);
    color: rgb(23, 43, 77);
}

#workspace-dialog .select2-choice:after {
    border-top-color: #344563;
}

#workspace-dialog .select2-container-disabled .select2-choice,#workspace-dialog .select2-container-disabled .select2-choices{
    color: #97a0af;
    background-color: rgb(244, 245, 247);
    padding-left: 5px;
    cursor: not-allowed;
}

#show-proxy-settings{
    float: right;
}

#workspace-dialog .field-group .error{
    font-size: 12px;
}

#reloadSpinner{
    display: inline-block;
    margin-left: 20px;
}

#octaneEntityTypes{
    padding-right: unset;
}

#octaneEntityTypes+.aui-icon-notification{
    display: none;
}

.space-save-status{
    margin-left:10px;
}

.aui-iconfont-successful-build{
    color: #36b37e;
}

.aui-iconfont-error{
    color: #ff5630;
}

#spaceConfSelectorThrobber{
    margin-left: 9px;
    margin-top: 6px;
}

#space-save-status{
    margin-left: 5px;
}


