<html>
<head>
    <title>ALM Octane Configuration</title>
    <meta name="decorator" content="atl.admin">
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
</head>
<body>
<h2>ALM Octane Configuration</h2>
<form id="admin" class="aui">
    <div class="field-group">
        <label for="name">Server Location</label>
        <input type="text" id="location" name="location">
    </div>
    <div class="field-group">
        <label for="time">Client ID</label>
        <input type="text" id="client_id" name="client_id">
    </div>
    <div class="field-group">
        <label for="time">Client Secret</label>
        <input type="password" id="client_secret" name="client_secret">
    </div>
    <div class="field-group">
        <input type="submit" value="Save">
    </div>
</form>
</body>
</html>