<html>
<head>
    <title>ALM Octane Configuration</title>
    <meta name="decorator" content="atl.admin">
    $webResourceManager.requireResourcesForContext("jira-octane-plugin-admin-resource-context")
</head>
<body>
<h2>ALM Octane Configuration</h2>
<br/>
<form id="octane-admin" class="aui">
    <div class="form-body">
        <h3 class="sectionTitle">Space</h3>
        <div class="field-group">
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" class="text">
            <div class="description">Location of the ALM Octane application, for example :
                http://myServer.myCompany.com:8081/ui/?p=1001/1002
                <br/><b>Tip</b>: You can copy the URL from the address bar of the browser in which you opened ALM Octane
            </div>
        </div>
        <div class="field-group">
            <label for="clientId">Client ID:</label>
            <input type="text" id="clientId" name="clientId" class="text">
            <div class="description">Client ID used for logging into the ALM Octane server</div>
        </div>
        <div class="field-group">
            <label for="clientSecret">Client secret:</label>
            <input type="password" id="clientSecret" name="clientSecret" class="text">
            <div class="description">Client secret used for logging into the ALM Octane server</div>
        </div>

         <div class="field-group">
            <div id="button-group">
                <input type="button" class="aui-button aui-button-primary" id="save" value="Save configuration"
                       style="float: left;">
                <input type="button" class="aui-button aui-button-primary" id="test_connection"
                       value="Check configuration" style="float: right;">
            </div>
        </div>
        <div class="field-group">
            <div id="status"></div>
        </div>

    </div>
</form>

<h3 class="section-title">Workspaces</h3>
<p>Here will be text explaining about adding new workspace. In order create new workspace configuration click <button id="show-dialog-button" class="aui-button aui-button-link">here</button></p>
<table id="configuration-rest-table"></table>

<section id="demo-dialog" class="aui-dialog2 aui-dialog2-small aui-layer" data-aui-modal="true" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Captain...</h2>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content">
        <p>We've detected debris of some sort in a loose orbit.</p>
        <p>I suggest we beam a section aboard for analysis...</p>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="dialog-submit-button" class="aui-button aui-button-primary">Make it so</button>
        </div>
    </footer>
</section>
</body>
</html>