<html>
<head>
    <title>ALM Octane Configuration</title>
    <meta name="decorator" content="atl.admin">
    $webResourceManager.requireResourcesForContext("jira-octane-plugin-admin-resource-context")
</head>
<body>
<h2>ALM Octane Configuration</h2>
<br/>
<h3 class="formtitle">Space</h3>
<form id="octane-admin" class="aui">
    <div class="form-body">
        <div class="field-group">
            <label for="location">Location</label>
            <input type="text" id="location" name="location" class="text medium-long-field">
            <div class="description">Location of the ALM Octane application, for example :
                http://myServer.myCompany.com:8081/ui/?p=1001/1002
                <br/><b>Tip</b>: You can copy the URL from the address bar of the browser in which you opened ALM Octane
            </div>
        </div>
        <div class="field-group">
            <label for="clientId">Client ID</label>
            <input type="text" id="clientId" name="clientId" class="text medium-long-field">
            <div class="description">Client ID used for logging into the ALM Octane server</div>
        </div>
        <div class="field-group">
            <label for="clientSecret" >Client secret</label>
            <input type="password" id="clientSecret" name="clientSecret" class="text medium-long-field">
            <div class="description">Client secret used for logging into the ALM Octane server</div>
        </div>

         <div class="field-group">
            <div id="button-group">
                <input type="button" class="aui-button" id="save" value="Save">
                <span id="status"></span>
            </div>
        </div>

    </div>
</form>

<h3 class="formtitle">Workspaces</h3>
<p><button id="show-dialog-button" class="aui-button aui-button-link">Create</button> new workspace configuration. </p>
<table id="configuration-rest-table"></table>

<section id="config-dialog" class="aui-dialog2 aui-dialog2-large aui-layer" data-aui-modal="true" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">
            Create new workspace configuration
        </h2>
    </header>
    <div class="aui-dialog2-content">
        <form class="aui">
            <div class="field-group">
                <label  for="workspaceSelector">Workspace</label>
                <input type='hidden' name='workspaceSelector' id='workspaceSelector' class="text medium-long-field"/>
                <div class="description"></div>
            </div>
            <div class="field-group">
                <label for="octaneUdf">Mapping field</label>
                <input type="text" id="octaneUdf" name="octaneUdf" class="text medium-long-field">
                <div class="description">ALM Octane user-defined field for mapping Jira issue (recommended 'jira_key_udf')</div>
            </div>
            <div class="field-group">
                <label for="octaneEntityTypes">Entity types</label>
                <input type="text" id="octaneEntityTypes" name="octaneUdf" class="text medium-long-field" disabled>
                <span id="refreshOctaneEntityTypesSpinner"></span>
                <button id="refreshOctaneEntityTypesButton" class="aui-button aui-button-subtle" resolved=""><span class="aui-icon aui-icon-small aui-iconfont-refresh"></span></button>
                <div class="description">ALM Octane entity types that have defined 'Octane field'. <br/> Populated after 'Mapping field' field has been change or by clicking on "refresh" button</div>
            </div>
            <div class="field-group">
                <label for="jiraProjectsSelector">Jira projects keys</label>
                <input type='hidden' name='jiraProjectsSelector' id='jiraProjectsSelector' class="text medium-long-field"/>
                <div class="description">Supported Jira projects. Each jira project can be selected only for one  ALM Octane workspace.
                </div>
            </div>
            <div class="field-group">
                <label for="jiraIssueTypesSelector">Jira issue types</label>
                <input type='hidden' name='jiraIssueTypesSelector' id='jiraIssueTypesSelector' class="text medium-long-field"/>
                <div class="description">Supported Jira issue types. If value is missing, all issue types are supported.
                </div>
            </div>
            <div class="field-group">
                <div id="dialog-status"></div>
            </div>
        </form>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="dialog-submit-button" class="aui-button aui-button-primary">Save</button>
            <button id="dialog-cancel-button" class="aui-button aui-button-link">Cancel</button>
        </div>
    </footer>
</section>
<section id="warning-dialog" class="aui-dialog2 aui-dialog2-small aui-dialog2-warning aui-layer" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Delete</h2>
    </header>
    <div class="aui-dialog2-content">

        <p>Are you sure you want to delete '<span id="workspace-to-delete"></span>' workspace configuration ?</p>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="warning-dialog-confirm" class="aui-button aui-button-primary">Delete</button>
            <button id="warning-dialog-cancel" class="aui-button aui-button-link">Cancel</button>
        </div>
    </footer>
</section>

</body>
</html>