<script language="JavaScript" type="text/javascript">

</script>
<span id="reloadSpinner"></span>
<div id="coverage-panel">
    #if($status=="hasData")
        <ul class="item-details">
            <!-- octane  entity-->
            <div id="octane-entity">
                <input id="filterQueryString" type="hidden" value="$filterQueryString">
                <span class="octane-entity-icon" style="background-color: $octaneEntity.get("typeColor");">
                    <span class="octane-entity-icon-text">$octaneEntity.get("typeAbbreviation")</span>
                </span>
                <span class="octane-entity-url">
                    <a target="_blank" href="$octaneEntity.get("url")">$octaneEntity.getId()</a>
                </span>
                <span class="octane-entity-url2name-splitter">|</span>
                <span id="octane-entity-name" title="$octaneEntity.getName()">$octaneEntity.getName()</span>
                <button class="aui-button" onclick="showRunStartDatePicker()" title="Filter shown runs by their start date">
                    <span id="show-start-date-picker" class="aui-icon aui-icon-small aui-iconfont-calendar #if($lastRunStartedFilter) aui-iconfont-calendar-filled #else aui-iconfont-calendar #end" >Configure</span>
                    <input class="aui-date-picker"  id="run-start-date-picker" type="date" value="$lastRunStartedFilter" />
                </button>
            </div>

            <!-- test status-->
            <li>
                #foreach( $group in $runGroups )
                    <dl id="$group.get("id")" class="$group.get("className")">
                        <dt>
                            <div>
                                <div class="octane-test-status-icon" style="background:$group.get("color")"/>
                                <div class="octane-test-status-name" >$group.get("name"):</div>
                            </div>
                        </dt>
                        <dd>
                            <span class="octane-test-status-count">$group.get("countStr")</span>
                            <span class="octane-test-status-percentage">$group.get("percentage")</span>
                        </dd>

                    </dl>

                #end
                <dl id="total-runs-row"><dt id="total-runs-label">Total Runs:</dt>
                    <dd><span class="octane-test-status-total-count">$totalRuns</span></dd>
                </dl>
                <dl id="total-tests-row"><dt id="total-tests-label">Total Tests:</dt>
                    <dd id="total-tests-value">
                        <span class="octane-test-status-total-count">$totalTests</span>
                    </dd>

                </dl>
            </li>
            <a target="_blank" id="view-tests-in-alm" href="$octaneEntity.get("testTabUrl")">View tests in ALM Octane</a>

        </ul>

    #elseif($status=="noData")
        <div>No available data</div>

    #elseif($status=="noValidConfiguration")
        <div>No valid <a href="$configUrl" target="_blank">ALM Octane configuration</a>.</div>
    #end
</div>


