<script language="JavaScript" type="text/javascript">
    $(document).ready(function() {
        console.log("RADI document ready");
        load(1);
    });

    function load(counter) {
        console.log("RADI load " + counter);
        var panelEl = $("#octane-coverage-panel:not(.resolved)");

        if (!panelEl.length) {
            setTimeout(function () {
                load(counter + 1);
            }, 100);
        } else {
            console.log("RADI load successfully " + counter);
            var projectKey = panelEl.attr("project-key");
            var issueKey = panelEl.attr("issue-key");
            var issueId = panelEl.attr("issue-id");
            $("#octane-coverage-panel").addClass("resolved");
            loadOctaneCoverageWidget(projectKey, issueKey, issueId);
        }
    };
</script>

<div id="octane-coverage-panel" issue-key="$issueKey" issue-id="$issueId" project-key="$projectKey"  class="ghx-container">
    <div id="octane-entity-section" class="hidden">
        <ul class="item-details">
            <!-- octane  entity-->
            <div id="octane-entity">
                <span id="octane-entity-icon">
                    <span id="octane-entity-icon-text"></span>
                </span>
                <span id="octane-entity-url">
                    <a target="_blank"></a>
                </span>
                <span class="octane-entity-url2name-splitter">|</span>
                <span id="octane-entity-name"></span>
            </div>

            <!-- test status-->
            <div id="octane-total-runs"></div>
            <li>
                #foreach( $group in $runGroups )
                    <dl id="$group.get("id")" class="hidden">
                        <dt>
                            <div>
                                <div class="octane-test-status-icon" style="background:$group.get("color")"/>
                                <div class="octane-test-status-name" >$group.get("name")</div>
                            </div>
                        </dt>
                        <dd>
                            <span class="octane-test-status-count"></span>
                            <span class="octane-test-status-percentage"></span>
                        </dd>

                    </dl>

                #end
            </li>
            <a target="_blank" id="view-tests-in-alm" >View <span id="octane-total-tests"></span> tests in ALM Octane</a>

        </ul>
    </div>
    <div id="octane-no-data-section" class="hidden">
        <div>No corresponding entity is mapped in ALM Octane.</div>
    </div>
    <div id="octane-no-valid-configuration-section" class="hidden">
        <div>No valid <a href="$configUrl" target="_blank">ALM Octane configuration</a>.</div>
    </div>
    <div id="octane-debug-section" class="hidden">
    </div>
    <div id="octane-loading-section">
        <p>Loading ...<span class="aui-icon aui-icon-wait" style="margin-left: 10px;"></span></p>
    </div>
</div>


